body {
  background-color: rgb(32, 32, 32);
  color: rgb(253, 253, 253);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

ul {
  padding: 0px;
}

/*
HEADER===============
*/
.headerWrapper {
  text-align: center;
}
/*
MAIN_CONTENT===============
*/
.inputWrapper {
  text-align: center;
}

.searchToolButtons {
  text-align: center;
}

.submitButton {
  margin-right: 10px;
}

.deleteCompletedButton {
  margin: 10px auto;
}

.to-do-list-constainer {
  text-align: center;
}

.toDo {
  cursor: pointer;
}

.strikedToDo {
  cursor: pointer;
  text-decoration: line-through;
}

/*
FOOTER===============
*/
