body {
  background-color: rgb(32, 32, 32);
  color: rgb(253, 253, 253);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

ul {
  padding: 0px;
}

/*
HEADER===============
*/
.headerWrapper {
  text-align: center;
}
/*
MAIN_CONTENT===============
*/
.mainContentWrapper {
  text-align: center;
}

.toDo {
  cursor: pointer;
}

.strikedToDo {
  cursor: pointer;
  text-decoration: line-through;
}

/*
FOOTER===============
*/
